<script>
import {
  GlIcon,
  GlLoadingIcon,
  GlTooltipDirective,
  GlSafeHtmlDirective as SafeHtml,
} from '@gitlab/ui';
// eslint-disable-next-line no-restricted-imports
import { renderDuoChatMarkdownPreview } from '../../../../utils/markdown_renderer';

export default {
  name: 'GlDuoWorkflowBaseMessage',
  components: {
    GlIcon,
    GlLoadingIcon,
  },
  directives: {
    SafeHtml,
    GlTooltip: GlTooltipDirective,
  },
  inject: {
    // Note, we likely might move away from Provide/Inject for this
    // and only ship the versions that are currently in the default
    // See https://gitlab.com/gitlab-org/gitlab-ui/-/merge_requests/3953#note_1762834219
    // for more context.
    renderGFM: {
      from: 'renderGFM',
      default: () => (element) => {
        element.classList.add('gl-markdown', 'gl-compact-markdown', 'gl-text-sm');
      },
    },
    renderMarkdown: {
      from: 'renderMarkdown',
      default: () => renderDuoChatMarkdownPreview,
    },
  },
  props: {
    /**
     * A message object
     */
    message: {
      type: Object,
      required: true,
    },
  },
  computed: {
    messageContent() {
      return this.renderMarkdown(this.message.content);
    },
    renderedError() {
      return this.renderMarkdown(this.message.errors?.join('; ') || '');
    },
    hasError() {
      return Boolean(this.message?.errors?.length);
    },
  },
  mounted() {
    this.hydrateContentWithGFM();
  },
  updated() {
    this.hydrateContentWithGFM();
  },
  methods: {
    hydrateContentWithGFM() {
      if (this.$refs.content) {
        this.$nextTick(this.renderGFM(this.$refs.content, this.message.role));
      }
    },
  },
};
</script>
<template>
  <div class="duo-chat-message gl-mb-4 gl-rounded-lg gl-leading-20 gl-break-anywhere">
    <gl-icon
      v-if="hasError"
      name="status_warning_borderless"
      :size="16"
      class="error-icon gl-border gl-mr-3 gl-shrink-0 gl-rounded-full gl-border-red-500 gl-text-red-600"
      data-testid="error"
    />
    <div ref="content-wrapper" :class="{ 'has-error': hasError }">
      <div v-if="hasError" ref="error-message" v-safe-html="renderedError"></div>
      <div v-else>
        <slot name="message" v-bind="{ content: message.content, htmlContent: messageContent }">
          <div ref="content" v-safe-html="messageContent"></div>
        </slot>
      </div>
    </div>
  </div>
</template>
