<script>
import { GlButton } from '@gitlab/ui';
import { WORKFLOW_NEW_APP } from '../../../../router/constants';
import AgentMessage from './agent.vue';

export default {
  components: {
    AgentMessage,
    GlButton,
  },
  workflowEndMessage: {
    content:
      "Review the changes. To improve the implementation, create another workflow and describe the specific changes you'd like to see.",
  },
  newRoute: {
    name: WORKFLOW_NEW_APP,
  },
};
</script>
<template>
  <agent-message :message="$options.workflowEndMessage">
    <template #message="{ content }">
      <p>
        {{ content }}
      </p>

      <gl-button :to="$options.newRoute" class="gl-mt-4">New workflow</gl-button>
    </template>
  </agent-message>
</template>
