<script>
import { GlIcon, GlLink, GlLoadingIcon, GlTableLite } from '@gitlab/ui';
import { mapActions, mapState } from 'pinia';
import ProjectPath from '../../../common/project_path.vue';
import WorkflowTable from '../../../common/workflow_table.vue';
import { useWorkflowStore } from '../../../stores/workflow';
import { useMainStore } from '../../../stores/main';
import { WORKFLOW_INDEX_APP } from '../../../router/constants';

export default {
  components: {
    GlIcon,
    GlLink,
    GlLoadingIcon,
    GlTableLite,
    ProjectPath,
    WorkflowTable,
  },
  computed: {
    ...mapState(useWorkflowStore, ['recentWorkflows', 'isLoadingRecentWorkflows']),
    ...mapState(useMainStore, ['projectPath']),
    hasWorkflows() {
      return this.recentWorkflows.length > 0;
    },
    showViewAllButton() {
      return this.recentWorkflows.length >= 5;
    },
  },
  watch: {
    projectPath: {
      immediate: true,
      handler(newPath) {
        if (newPath) {
          this.getRecentWorkflows(this.projectPath);
        }
      },
    },
  },
  methods: {
    ...mapActions(useWorkflowStore, ['getRecentWorkflows']),
  },
  indexRoute: {
    name: WORKFLOW_INDEX_APP,
  },
};
</script>

<template>
  <div>
    <div class="gl-flex gl-pb-4">
      <b class="gl-mr-4"> Your recent workflows </b>
      <project-path />
    </div>
    <gl-loading-icon v-if="isLoadingRecentWorkflows" />
    <div v-else-if="!hasWorkflows" class="gl-text-center gl-border-t gl-p-3">
      You haven't created a workflow in this project yet.
    </div>
    <div v-else>
      <workflow-table class="gl-mb-5" :workflows="recentWorkflows" />
      <gl-link
        v-if="showViewAllButton"
        class="gl-flex gl-items-center gl-text-base"
        :to="$options.indexRoute"
      >
        <span>View all</span>
        <gl-icon class="gl-ml-3" name="arrow-right" />
      </gl-link>
    </div>
  </div>
</template>
